# reference https://hexo.io/docs/github-pages.html
name: HexoPages

on:
  push:
    branches:
      - master  # default branch

jobs:
  pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Hexo Blog
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'sunzhenkai/blog'
          # If your repository depends on submodule, please see: https://github.com/actions/checkout
          submodules: recursive
      - name: Checkout Blog Docs
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # If your repository depends on submodule, please see: https://github.com/actions/checkout
          submodules: recursive
          path: 'docs'
      - name: Show Directories
        run: ls
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Cache NPM dependencies
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache
      - name: Install Dependencies
        working-directory: hexo
        run: |
          pwd
          ls
          npm install
      - name: Build
        working-directory: hexo
        run: |
          pwd
          npm run build
          ls
          ls public
          cp -r public ..
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: true