name: TriggerParentRepoUpdate

on:
  push:
    branches: 
      - master

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: '[talking-ground] checkout repository'
        uses: actions/checkout@v3
        with: 
          repository: "sunzhenkai/talking-ground"
          token: ${{ secrets.PRIVATE_TOKEN_GITHUB }}
          submodules: true
          path: 'talking-ground'

      - name: '[talking-ground] Pull & update submodules recursively'
        working-directory: 'talking-ground'
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote

      - name: '[talking-ground] Commit'
        working-directory: 'talking-ground'
        run: |
          git config user.email "zhenkai.sun@github.com"
          git config user.name "zhenkai.sun"
          git add --all
          git commit -m "Update submodules" || echo "No changes to commit"
          git push
